<mat-grid-list [cols]="columns" rowHeight="1:0.01" gutterSize="1%" (window:resize)="onResize($event)">
    <mat-grid-tile colspan="1" rowspan="50">
        <app-displaybox>
            <img backdrop class="img-backdrop"  src="../../assets/guitar picture.jpg">
            <button (click)="openTab('https://www.youtube.com/channel/UCERImkW_pOgn_ocj7HApmIg')" overlay mat-raised-button color="warn">My Youtube</button>
        </app-displaybox>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="46">
        <iframe src="https://open.spotify.com/embed/playlist/41w7JMfHRR9OnfZosICDIC?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="50">
        <app-song-request-widget></app-song-request-widget>
    </mat-grid-tile>
    <div *ngFor="let video of videos; index as i;">
        <mat-grid-tile colspan="1" rowspan="35">
            <youtube-player videoId="{{video.snippet.resourceId.videoId}}" [width]="videoWidth" [height]="videoHeight"></youtube-player>
            <!-- <app-displaybox>
                <img backdrop src={{video.snippet.thumbnails.high.url}}/>
                <button overlay mat-raised-button color="warn" (click)="openYoutubeLink(video.snippet.resourceId.videoId)">{{video.snippet.title}}</button>
            </app-displaybox> -->
        </mat-grid-tile>
    </div>
</mat-grid-list>