<div id="musicPageGrid">
    <!--This component just doesn't want to size properly right now-->
    <!-- <app-displaybox id="myYoutubeCard">
        <img backdrop class="img-backdrop"  src="../../assets/guitar crop.jpg">
        <button (click)="openTab('https://www.youtube.com/channel/UCERImkW_pOgn_ocj7HApmIg')" overlay mat-raised-button color="warn">My Youtube</button>
    </app-displaybox> -->
    <iframe id="learningSongsPlaylist" src="https://open.spotify.com/embed/playlist/41w7JMfHRR9OnfZosICDIC?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <app-song-request-widget id="songRequestWidget"></app-song-request-widget>
    <div id="videosGrid">
        <div class="youtubePlayer" *ngFor="let video of videos; index as i;">
            <youtube-player videoId="{{video.snippet.resourceId.videoId}}"></youtube-player>            
        </div>
    </div>
</div>