#centering-grid
    max-width: 100%
    max-height: 100%

.intro-card
    max-width: 25%
    min-width: 250px
    top: 20px
    left: 50%
    transform: translate(-50%)

.intro-actions
    position: relative
    left: 50%
    transform: translate(-50%)
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-rows: 1fr
    grid-template-areas: "linkedin github twitch youtube"

.action-button
    min-width: 20px !important
    padding: 0px
    font-size: 85%

#gitHubButton
    grid-area: github

#linkedInButton
    margin-left: 16% !important
    grid-area: linkedin

#twitchButton
    grid-area: twitch

#youtubeButton
    grid-area: youtube

.intro-header
    position: relative
    text-align: center
    left: 50%
    transform: translate(-50%)

::ng-deep .mat-card-header-text
    text-align: center
    position: relative
    margin: 0px !important
    left: 50%
    transform: translate(-50%)
