<div id="writingPageGrid">
  <app-displaybox id="booksDisplayBox">
    <img backdrop class="img-backdrop"  src="../../assets/books picture.jpeg"/>
    <button overlay mat-raised-button color="warn" (click)="routeTo('writing/books')">Books</button>
  </app-displaybox>
  <app-displaybox id="poetryDisplayBox">
    <img backdrop class="img-backdrop"  src="../../assets/poetry picture.jpeg"/>
    <button overlay mat-raised-button color="warn" (click)="routeTo('writing/poetry')">Poetry</button>
  </app-displaybox>
  <app-displaybox id="gamesDisplayBox">
    <img class="img-backdrop" backdrop src="../../assets/games picture.jpeg"/>
    <button overlay mat-raised-button color="warn" (click)="routeTo('writing/games')">Games</button>
  </app-displaybox>
</div>

<!-- <mat-grid-list [cols]="columns" rowHeight="1:0.01" gutterSize="1%" (window:resize)="onResize($event)">
  <mat-grid-tile colspan="1" rowspan="25">
    <app-displaybox>
      <img backdrop class="img-backdrop"  src="../../assets/books picture.jpeg"/>
      <button overlay mat-raised-button color="warn" (click)="routeTo('writing/books')">Books</button>
    </app-displaybox>
  </mat-grid-tile>  
  <mat-grid-tile colspan="1" rowspan="25">
    <app-displaybox>
      <img backdrop class="img-backdrop"  src="../../assets/poetry picture.jpeg"/>
      <button overlay mat-raised-button color="warn" (click)="routeTo('writing/poetry')">Poetry</button>
    </app-displaybox>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="25">
      <app-displaybox>
        <img class="img-backdrop" backdrop src="../../assets/games picture.jpeg"/>
        <button overlay mat-raised-button color="warn" (click)="routeTo('writing/games')">Games</button>
      </app-displaybox>
    </mat-grid-tile>
</mat-grid-list> -->
