<div class='container'>

    <div id="header-bar">
        <nav>
            <div id="navList">
                <a routerLink="" routerLinkActive="active" id="portrait"><img id="avatar" src="../../assets/professional portrait thumbnail.jpg" alt="Avatar"></a>
                <a routerLink="/music" routerLinkActive="active" id="music">Music</a>
                <a routerLink="/writing" routerLinkActive="active" id="writing">Writing</a>
                <a routerLink="/contact" routerLinkActive="active" id="contact">Contact</a>
            </div>
        </nav>
    </div>
</div>
