@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue")
    
        
container
    width: 100%
    display: inline-block

nav
    overflow: hidden
    background-color: #C7483A
    position: fixed
    top:0
    left:0
    right:0
    width: 100%
ul 
    text-align: center
    list-style-type: none
    margin: 0
    padding: 15px
li
    display: inline
    font-family: "Bebas Neue", sans-serif
    font-size: 23px
a
    color: #f2f2f2
    text-decoration: none
    margin: 14px
    &:hover
        text-shadow: 4px 4px #000
#portrait
    border-radius: 50%
    &:hover
        box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.3)

        

.content
    text-align: center

img
    border-radius: 50%
    width: 50px
    vertical-align: middle

.active
    font-size: 35px
    text-shadow: 4px 4px #000
    

