<div class='container'>

    <div id="header-bar">
        <nav>
            <ul>
                <li><a routerLink="" routerLinkActive="active" id="portrait"><img id="avatar" src="https://avatars.githubusercontent.com/u/10623354?v=4" alt="Avatar"></a></li>
                <li><a href="#" id="code">Code</a></li>
                <li><a routerLink="/music" routerLinkActive="active" id="music">Music</a></li>
                <li><a href="#" id="writing">Writing</a></li>
                <li><a routerLink="/contact" routerLinkActive="active" id="contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
