p
    margin-left: 5%
    margin-bottom: 0px
    margin-top: 3%
    font-family: sans-serif
    font-weight: 100
    font-size: 15px
    color: #fff

.title
    text-align: center
    margin-left: 0%
    font-size: 20px
    margin-bottom: 3%
    padding-top: 3%

#emailForm
    background-color: #C7483A
    position: relative
    display: block
    width: 30%
    min-width: 270px
    // max-height: 60%
    left: 50%
    top: 40%
    transform: translate(-50%, -50%)
    

mat-form-field
    left: 50%
    display: block
    padding-top: 15px
    transform: translate(-50%)
    min-width: 260px
    width: 98%
    resize: none

#messageField
    min-width: 260px
    padding-bottom: 15px

#messageFieldInput
    height: 100px

#submitButton
    position: relative
    // top: 73%
    left: 50%
    margin-bottom: 10px
    transform: translate(-50%)
    width: 200px

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex
    background-color: rgba(255, 255, 255, 0.6)

.hidden
    display: none

.visible
    display: block

#responseMessage
    text-align: center
    // position: fixed
    // top: 70%
    // left: 0%
    width: 100%
    font-size: 15px
    color: #fff
