<form id="emailForm" method="post" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <p class="title">Email Me</p>
    <p>How Do I Address You?</p>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input formControlName="Name" for="Name" matInput required type="email" >
    </mat-form-field>
    <p>Where Can I Reach You?</p>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="Email" for="Email" matInput required>
    </mat-form-field>
    <mat-form-field id="messageField" appearance="fill">
        <mat-label>Message</mat-label>
        <textarea formControlName="Message" for="Message" matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="6" required></textarea>
    </mat-form-field>
    <div [ngClass]="!submitted? 'hidden' : 'visible'" id="responseMessage">
        <span>{{responseMessage}}</span>
    </div>
    <button [disabled]="isLoading" id="submitButton" type="submit" mat-raised-button color="warn">Send</button>
</form>