p
    margin-left: 5%
    margin-bottom: -2%
    margin-top: 3%
    font-family: sans-serif
    font-weight: 100
    font-size: 15px
    color: #fff

.title
    text-align: center
    margin-left: 0%
    font-size: 20px
    margin-bottom: 3%

#emailForm
    background-color: #C7483A
    position: fixed
    display: inline-block
    width: 30%
    height: 48%
    left: 50%
    top: 50%
    margin-left: -15%
    margin-top: -10%

mat-form-field
    left: 5%
    margin-top: 4%
    margin-bottom: -5%
    width: 400px
    resize: none

#messageField
    width: 500px

#messageFieldInput
    height: 100px

#submitButton
    position: fixed
    top: 73%
    left: 50%
    margin-left: -5.4%
    width: 200px

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex
    background-color: rgba(255, 255, 255, 0.6)

.hidden
    display: none

.visible
    display: block

#responseMessage
    text-align: center
    position: fixed
    top: 70%
    left: 0%
    width: 100%
    font-size: 15px
    color: #fff
