<mat-form-field id="name-entry" appearance="fill">
    <mat-label>Name (Optional)</mat-label>
    <input ngModel #nameEntry id="nameEntry" type="text" placeholder="Your Name" matInput formControlName="requesterName" for="requesterName">
</mat-form-field>
<form id="requestForm" method="post" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="container">
        <mat-form-field id="autocompleteBox" appearance="fill" (click)="fieldCLicked(autoCompleteField)">
            <mat-label>Song Request</mat-label>
            <input #autoCompleteField 
            name="autoCompleteField" 
            id="autoCompleteField" 
            required 
            formControlName="songName" 
            for="songName" 
            type="text" 
            placeholder="Anyway, Here's Wonderwall -" 
            aria-label="Song" 
            (keyup)="lookupAutocomplete(autoCompleteField.value)"
            matInput 
            [matAutocomplete]="auto">
            <mat-autocomplete id="autocompleteComponent" autoActiveFirstOption #auto="matAutocomplete">
                <div *ngFor="let option of filteredOptions | async">
                    <div *ngIf="option.learning; then learning else notLearning"></div>
                    <ng-template #learning>
                        <mat-option [value]="option.title" disabled>
                            <div class="disabledOption">I'm already learning this song!</div>
                            <span class="trackInfoGrid" (click)="entrySelect(option)">
                                <img class="autocompleteEntryIcon autocompleteEntryPart" src={{option.img}}/>
                                <div class="autocompleteEntryTitle autocompleteEntryPart">{{option.title}}</div>
                                <div class="autocompleteEntryArtists autocompleteEntryPart">{{artistsString(option.artists)}}</div>
                            </span>
                        </mat-option>
                    </ng-template>
                    <ng-template #notLearning>
                        <div *ngIf="alreadyVotedCheck(option); then voted else validOption"></div>
                        <ng-template #voted>
                            <mat-option [value]="option.title" disabled>
                                <div class="disabledOption">You've already voted for this song.</div>
                                <span class="trackInfoGrid" (click)="entrySelect(option)">
                                    <img class="autocompleteEntryIcon autocompleteEntryPart" src={{option.img}}/>
                                    <div class="autocompleteEntryTitle autocompleteEntryPart">{{option.title}}</div>
                                    <div class="autocompleteEntryArtists autocompleteEntryPart">{{artistsString(option.artists)}}</div>
                                </span>
                            </mat-option>
                        </ng-template>
                        <ng-template #validOption>
                            <mat-option [value]="option.title">
                                <span class="trackInfoGrid" (click)="entrySelect(option)">
                                    <img class="autocompleteEntryIcon autocompleteEntryPart" src={{option.img}}/>
                                    <div class="autocompleteEntryTitle autocompleteEntryPart">{{option.title}}</div>
                                    <div class="autocompleteEntryArtists autocompleteEntryPart">{{artistsString(option.artists)}}</div>
                                </span>
                            </mat-option>
                        </ng-template>
                    </ng-template>
                </div>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <button id="submitButton" type="submit" mat-raised-button color="warn">Submit Request</button>
</form>
<div id="leaderboard">
    <div id="header">
        Songs I've Been Asked To Learn
    </div>
    <div id="entries">
        <div class="leaderboard-entry" *ngFor="let song of leaderboard">
            <img id="artwork" src="{{song.artwork}}">
            <div id="song-name">
            {{song.title}}
            </div>
            <div id="votingButtonsDiv" *ngIf="song.voted; then UnVote else Vote"></div>
            <ng-template id="votingButtons" #Vote><button class="vote-button vote" mat-raised-button color="primary" data-hover="✔" (click)="vote(song)"><div class="voteText">Vote ?</div></button></ng-template>
            <ng-template id="votingButtons" #UnVote><button class="vote-button unvote" mat-raised-button color="warn" data-hover="X" (click)="unvote(song)"><div class="voteText">Voted ✔</div></button></ng-template>
            <div id="song-artist">
                By: <div id="artistsString">{{artistsString(song.artists)}}</div>
            </div>
            <div class="container scroller">
                {{song.votes.length}} {{voteText(song)}}    
                <!-- <ng-marquee>
                    <mark>{{artistsString(song.votes)}}. </mark>
                    <mark *ngFor="let voter of song.votes">{{voter}}, </mark>
                </ng-marquee>
                <div class="voter-name" *ngFor="let voter of leaderboard.get(song)">
                    {{voter}},
                </div> -->
            </div>
            <!-- <hr> -->
        </div>
    </div>
</div>