p
    position: relative
    display: inline-block
    width: 25%
    margin: 10px

mat-card
    width: 40%
    display: inline-block
    position: relative

.line
    margin-bottom: 30px
    position: absolute

.pLeft
    float: left
    left: 15%

.pRight
    float: right
    right: 15%

.center
    float: clear
    text-align: center

.cardRight
    float: right
    right: 15%